---
layout: page
permalink: /workshops/index.html
---

<ol class="workshop-list list--blank">
  {% assign workshops = site.workshops | sort: 'start_date' | reverse %}
  {% for workshop in workshops %}
    <li class="workshop">
      <div class="row">
        <div class="col-sm-12">
          <a class="workshop__row" href="{{ workshop.url | prepend: site.baseurl }}">
            <div class="row">
              <div class="col-xs-8 va-middle">
                <h2 class="workshop__title">{{ workshop.title }}</h2>
                {% if workshop.summary != blank %}
                 <div class="workshop__summary font-small">{{ workshop.summary }}</div>
                {% endif %}
              </div>
              <div class="col-xs-4 text-right va-middle">
                <div class="workshop__date-range">{{ workshop.date_range }}</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </li>
  {% endfor %}
</ol>
